<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
  <add key="WebServisi.WebService" value="http://localhost:49526/WebService.asmx"/>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="mojaKonekcija" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=books; Integrated Security=True;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>